<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon/explore.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/global.css">
    <title>EXPLoRE-ZoNE | About</title>
</head>

<body>
    <nav>
        <ul style="list-style: none;">
            <li><img src="../assets/favicon/explore.png" alt="logo"></li>
            <li class="home-link"><a href="../index.html">Home</a></li>
            <li><a href="./explorer.html">Explore</a></li>
            <li><a class="active" href="./about.html"> About</a></li>
            <li><a href="./report.html">Report</a></li>
        </ul>
        <div class="info">
            <a title="About" href="./about.html"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
            </a>
        </div>
    </nav>


    <h2>&nbsp;&nbsp;About me</h2>
    <hr>
    <h4><u>&nbsp;Basic information:</u></h4>
    <ul>
        <li type="circle">Name: Sharif MD Tanvir Nawaz Rana</li>
        <li type="circle">Country: Bangladesh</li>
        <li type="circle"> Date Of Birth: 29/12/2006</li>
        <li type="circle">Age: 16 year</li>
    </ul>
    <u>
        <h3>&nbsp;Bio:</h3>
    </u>
    <p style="color:brown ;"><b>Hello,I am Rana Sharif from Mathbaria, pirojpur.I am a new web developer. this is first
            project in my whole life .</b> </p>
    <h3><u>Educational Background:</u></h3>
    <ul>
        <li>Play-Nursery (Pouro Kindergarden)</li>
        <li>Primary Level (56 No Mathbaria Model Government Primary School )</li>
        <li>6<sup>th</sup> Grade: (Shaheen School, Barishal</li>
        <li>High School: (K. M. LATIF INSTITUTION) [running]</li>
    </ul>
    <u>
        <h3>Contact Information</h3>
    </u>
    <span><b>Email: </b><a
            href="mailto: sharifmdtanvirnawazrana@gmail.com"><span>sharifmdtanvirnawazrana@gmail.com</span></a></span><br>
    <p></p>
    <a target="_blank" href="https://web.facebook.com/profile.php?id=100091825961412"><img
            src="../assets/images/facebook.png" height="40px"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a target="_blank" href="https://www.instagram.com/sharifmdtanvirnawazrana/"><img
            src="../assets/images/instagram.png" height="40px"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a target="_blank" href="https://github.com/Developer-Rana-Sharif"><img src="../assets/images/github.png"
            height="40px"></a>
</body>

</html>