<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon/explore.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/global.css">
    <title>EXPLoRE-ZoNE | Report</title>
</head>

<body>
    <nav>
        <ul style="list-style: none;">
            <li><img src="../assets/favicon/explore.png" alt="logo"></li>
            <li class="home-link"><a href="../index.html">Home</a></li>
            <li><a href="./explorer.html">Explore</a></li>
            <li><a href="./about.html"> About</a></li>
            <li><a class="active" href="./report.html">Report</a></li>
        </ul>
        <div class="info">
            <a title="About" href="./about.html"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
            </a>
        </div>
    </nav>

    <b>
        <p style="color:darkred
     ;">Hello, I am Rana Sharif, this is a comics & cinemas information based web site , if you find any kind's of problem ,
            please inform the Developer : </p>
    </b>

    <h3>&nbsp; &nbsp;&nbsp;Some Information </h3>

    <form action="https://formspree.io/f/xbjvradl" method="post">
        <div>
            <label for="first name"></label>&nbsp;&nbsp;&nbsp;&nbsp;First Name : <input type="text" name="first name"
                id="first name" required>
        </div><br>
        <div>
            <label for="last name"></label>&nbsp;&nbsp;&nbsp;&nbsp;Last Name : <input type="text" name="last name"
                id="last name" required>
        </div><br>
        <div>
            <label for="email"></label>&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
            <input type="email" name="email" id="email" required>
        </div><br>

        <div>
            <label for="dob"></label>&nbsp;&nbsp;&nbsp;&nbsp;DateOfBirth &nbsp;&nbsp;&nbsp;: <input type="date"
                name="dob" id="dob" required>
        </div><br>

        <div>
            <label for="gender"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gender : &nbsp;&nbsp;
            <input type="radio" name="gender" value="male">Male
            <input type="radio" name="gender" value="female">Female
        </div><br>


        <div>
            <label for="department">&nbsp;&nbsp; Department</label>
            <select name="department">
                <option value="lower"> Lower</option>
                <option value="jsc"> JSC</option>
                <option selected value="ssc"> SSC</option>
                <option value="hsc"> HSC</option>
                <option value="Higher"> Higher</option>
            </select>
        </div>
        <br>
        <div>
            <label for="message">&nbsp;&nbsp; Describe your report :</label><br>
            <textarea name="message" cols="50" rows="10" required></textarea>
        </div><br>
        <div>
            <input type="submit" value="send">
            <input type="reset" value="reset">
        </div>


    </form>
</body>

</html>